// Crystal frags based on the stone models
{% for color in data %}

// {{ color['color_name'] }}
[t:template,n:frag_c24_3_crystal_stone_01_{{ color['color_name'] }}]  { specializes = fragment; [aspect] { model = m_i_glb_frag-stone-01; textures:0 = b_i_cav_gems-0{{ color['texture'] }}-static; } }
[t:template,n:frag_c24_3_crystal_stone_02_{{ color['color_name'] }}]  { specializes = fragment; [aspect] { model = m_i_glb_frag-stone-02; textures:0 = b_i_cav_gems-0{{ color['texture'] }}-static; } }
[t:template,n:frag_c24_3_crystal_stone_03_{{ color['color_name'] }}]  { specializes = fragment; [aspect] { model = m_i_glb_frag-stone-03; textures:0 = b_i_cav_gems-0{{ color['texture'] }}-static; } }
[t:template,n:frag_c24_3_crystal_stone_04_{{ color['color_name'] }}]  { specializes = fragment; [aspect] { model = m_i_glb_frag-stone-04; textures:0 = b_i_cav_gems-0{{ color['texture'] }}-static; } }
[t:template,n:frag_c24_3_crystal_stone_05_{{ color['color_name'] }}]  { specializes = fragment; [aspect] { model = m_i_glb_frag-stone-05; textures:0 = b_i_cav_gems-0{{ color['texture'] }}-static; } }
[t:template,n:frag_c24_3_crystal_stone_06_{{ color['color_name'] }}]  { specializes = fragment; [aspect] { model = m_i_glb_frag-stone-06; textures:0 = b_i_cav_gems-0{{ color['texture'] }}-static; } }
[t:template,n:frag_c24_3_crystal_stone_07_{{ color['color_name'] }}]  { specializes = fragment; [aspect] { model = m_i_glb_frag-stone-07; textures:0 = b_i_cav_gems-0{{ color['texture'] }}-static; } }
[t:template,n:frag_c24_3_crystal_stone_08_{{ color['color_name'] }}]  { specializes = fragment; [aspect] { model = m_i_glb_frag-stone-08; textures:0 = b_i_cav_gems-0{{ color['texture'] }}-static; } }
{% endfor %}
