{% for color in data %}
[t:template,n:c24_3_spell_golem_blast_{{ color['color_name'] }}]
{
	specializes = dsx_spell_golem_frost_blast_base;

	spell_damage_volume:effect_script = crystal_golem_blast_c24_3_{{ color['color_name'] }};
}
{% endfor %}
