{% for color in data %}
[t:template,n:ice_shard_03_{{ color['color_name'] }}]
{
	specializes = ice_shard;
	[aspect]
	{
		model = m_i_glb_frag-ice-11;
		scale_base = 1;
		textures:0 = b_i_cav_gems-0{{ color['texture'] }}-static;
	}
	[common]
	{
		[template_triggers]
		{
			[*]
			{
				action* = call_sfx_script("ice_shard_dust_{{ color['color_name'] }}");
				condition* = receive_world_message("WE_ENTERED_WORLD");
				single_shot = true;
			}
		}
	}
}
{% endfor %}
