{% set wl_prefix = {'regular': '', 'veteran': '2W_', 'elite': '3W_' }[wl] %}
{% for color in data %}
[t:template,n:{{ wl_prefix }}c24_3_crystal_beast_{{ color['color_name'] }}] { specializes = {{ wl_prefix }}c24_3_crystal_beast_{{ color['color_name'] }}_base; }
[t:template,n:{{ wl_prefix }}c24_3_crystal_beast_{{ color['color_name'] }}_base]
{
	specializes = {{ wl_prefix }}c24_3_base_crystal_beast;

	aspect:textures:0 = b_i_cav_gems-0{{ color['texture'] }}-static;  // {{ color['color_name'] }}
	[common]
	{
		[template_triggers]
		{
			[*]
			{
				condition* = receive_world_message("WE_ENTERED_WORLD");
				single_shot = true;
				action* = call_sfx_script("rock_beast_eye_glow");
			}
			[*]
			{
				action* = call_sfx_script("rock_beast_dust","bip01_r_foot");
				condition* = receive_world_message("we_anim_other",'rfdn');
			}
			[*]
			{
				action* = call_sfx_script("rock_beast_dust","bip01_l_foot");
				condition* = receive_world_message("we_anim_other",'lfdn');
			}
			[*]
			{
				action* = call_sfx_script("rock_beast_smash");
				condition* = receive_world_message("we_anim_sfx",1);
			}
			[*]
			{
				action* = call_sfx_script("rock_beast_yell");
				condition* = receive_world_message("we_anim_sfx",2);
			}
			[*]
			{
				action* = call_sfx_script("rock_beast_dust_hands");
				condition* = receive_world_message("we_anim_sfx",3);
			}
			// ADDED:
			[*]
			{
				action* = call_sfx_script("ice_warrior");
				condition* = receive_world_message("WE_ENTERED_WORLD");
				single_shot = true;
			}
			[*]
			{
				condition* = receive_world_message("WE_ENTERED_WORLD");
				single_shot = true;
				no_trig_bits = true;
				action* = call_sfx_script("crystal_light_{{ color['light_color'] }}(sgx)");
			}
		}
	}
	[inventory]
	{
		[other] { il_active_primary_spell = c24_3_spell_beast_blast_{{ color['color_name'] }}; }
	}
	[physics]
	{
		[break_particulate]
		{
			frag_c24_3_crystal_rock_beast_01_{{ color['color_name'] }} = 1;
			frag_c24_3_crystal_rock_beast_02_{{ color['color_name'] }} = 1;
			frag_c24_3_crystal_rock_beast_03_{{ color['color_name'] }} = 1;
			frag_c24_3_crystal_rock_beast_04_{{ color['color_name'] }} = 1;
			frag_c24_3_crystal_rock_beast_05_{{ color['color_name'] }} = 1;
			frag_c24_3_crystal_rock_beast_06_{{ color['color_name'] }} = 2;
			frag_c24_3_crystal_rock_beast_07_{{ color['color_name'] }} = 3;
			frag_c24_3_crystal_rock_beast_08_{{ color['color_name'] }} = 4;
			frag_c24_3_crystal_stone_01_{{ color['color_name'] }} = 6;
			frag_c24_3_crystal_stone_02_{{ color['color_name'] }} = 4;
			frag_c24_3_crystal_stone_03_{{ color['color_name'] }} = 3;
			frag_c24_3_crystal_stone_04_{{ color['color_name'] }} = 6;
			frag_c24_3_crystal_stone_05_{{ color['color_name'] }} = 9;
			frag_c24_3_crystal_stone_06_{{ color['color_name'] }} = 5;
		}
	}
}
{% endfor %}
